:root {
    --hud-image: slategrey;
    --hud-border: black;
    --body-background: radial-gradient(khaki, crimson);
    --rules-background: white;
    --rules-border: black;
    --rules-color: black;
    --header-color: black;
    --header-font-shadow: white;
    --game-log-border: black;
    --game-log-background-color: beige;
    --game-log-color: black;
    --hit-count-background-color: black;
    --hit-count-color: white;
    --hit-count-border: white;
    --board-label-color: black;
    --board-image: url(../imgs/water.jpg);
    --board-border: black;
    --board-div-border: rgb(173, 216, 230);
    --square-hover-class-background-color: green;
    --grid-coord-color: white;
    --buttons-border: white;
    --buttons-color: white;
    --buttons-background-color: black;
    --time-input-placeholder-color: darkgrey;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--body-background);
    font-family: "Anta", sans-serif;
}

#upper-hud {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--hud-image);
    width: 100vw;
    top: 0;
    position: absolute;
    padding: 10px;
    border: 2px solid var(--hud-border);
}

#space {
    height: 10px;
}

#rules, 
#boat-placement-instructions {
    min-width: 300px;
    max-width: 300px;
    min-height: 130px;
    max-height: 170px;
    background-color: var(--rules-background);
    border: 2px solid var(--rules-border);
    position: absolute;
    top: 0.2em;
    font-size: 10px;
    padding: 2px;
    color: var(--rules-color);
    z-index: 99 !important;
}

#rules {
    right: 0.2em;
}

#boat-placement-instructions {
    left: 0.2em;
}

header {
    font-size: 7vmin;
    color: var(--header-color);
    letter-spacing: 2vmin;
    margin-left: 1px;
    text-shadow: -1px 1px 0 var(--header-font-shadow),
                1px 1px 0 var(--header-font-shadow),
                1px -1px 0 var(--header-font-shadow),
                -1px -1px 0 var(--header-font-shadow);
}

#game-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hit-count {
    font-size: 30px;
    background-color: var(--hit-count-background-color);
    color: var(--hit-count-color);
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 1.5px groove var(--hit-count-border);
}

#game-log {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid var(--game-log-border);
    background-color: var(--game-log-background-color);
    min-height: 50px;
    min-height: 50px;
    min-width: 300px;
    max-width: 300px;
    color: var(--game-log-color);
    margin-right: 70px;
    margin-left: 70px;
}

#board-labels {
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    margin-bottom: -40px;
}

.board-label {
    margin-left: 64px;
    margin-right: 64px;
    color: var(--board-label-color);
}

#boards {
    display: flex;
    gap: 1vmin;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 4.5vmin);
    grid-template-rows: repeat(10, 4.5vmin);
    background-image: var(--board-image);
    border: 4px solid var(--board-border);
}

.board > div {
    border: 1px solid var(--board-div-border);
    background-color: transparent;
}

.board > div:hover {
    transform: scale(1.1);
    transition: transform 105ms case-in;
    opacity: 0.60;
    cursor: pointer;
}

.SquareHoverClass:hover {
    background-color: var(--square-hover-class-background-color) !important; 
    transform: scale(1.1);
    transition: transform 105ms case-in;
    cursor: pointer;
}

.grid-coord {
    color: var(--grid-coord-color);
    font-size: 10px;
}

#in-game-btns {
    display: flex;
}

#show-hide-rules-btn, 
#undo-btn, 
#new-game-btn,
#set-time, 
#time-input, 
#change-theme,
#mute-btn {
    border: 1px solid var(--buttons-border);
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--buttons-color);
    background-color: var(--buttons-background-color);
    padding: 5px;
    height: 25px;
    font-size: 15px;
}

#show-hide-rules-btn:hover, 
#new-game-btn:hover, 
#undo-btn:hover,
#change-theme:hover,
#mute-btn:hover {
    transform: scale(1.1);
    transition: transform 105ms case-in;
    cursor: pointer;
}

#set-time:hover {
    transform: scale(1.05);
    transition: transform 105ms case-in;
    cursor: pointer;
}

#arrow {
    margin-left: -5px;
    margin-right: -5px;
}

#time-input::placeholder {
    color: var(--time-input-placeholder-color);
}

#lower-hud {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--hud-image);
    height: 80px;
    width: 100vw;
    bottom: 0;
    position: absolute;
    border: 2px solid var(--hud-border);
}
